Boto3==1.16.1
redis
celery==5.3.4
crispy-bootstrap5
django==4.2.13
django-celery-beat>=2.2.0
django_celery_results==2.5.1
django-debug-toolbar==4.2.0
django_redis_cache
django-crispy-forms==1.14.0
django-extensions
django-heroku
django-import-export
django-storages
gunicorn
ipython
openai
sendgrid
twilio