Boto3
redis
celery==4.4.7
crispy-bootstrap5
django
django-celery-beat
django_celery_results
django-debug-toolbar
django_redis_cache
django-crispy-forms==1.14.0
django-extensions
django-heroku
django-import-export
django-storages
gunicorn
ipython
openai
sendgrid
twilio