Boto3
redis
celery==4.4.7
django
django-celery-beat
django_celery_results
django-debug-toolbar
django_redis_cache
django-crispy-forms
django-extensions
django-heroku
django-import-export
django-storages
gunicorn
ipython

sendgrid
twilio