{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
  <div class="container-fluid">
    <div class="card mx-auto mt-5 p-4" style="max-width:400px;">
      <h2>Change Password</h2>
      <form method="post">
        <p>Please enter your old password, and then enter your new password twice so we can verify you typed it in correctly.</p>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group row align-items-center">
          <div class="col-sm-6 mt-5">
            <button type="submit" class="btn btn-primary btn-login btn-block">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}