{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
  <div class="container-fluid">
    <div class="card mx-auto mt-5 p-4" style="max-width:400px;">
      {% if validlink %}
      <h2>Change Password</h2>
      <form method="post">
        <div class="form-group row align-items-center">
          <div class="col-sm-12 mt-4">
            {% csrf_token %}
            {{ form|crispy }}
          </div>
        </div>
        <div class="form-group row align-items-center">
          <div class="col-sm-12 mx-auto mt-5">
            <button type="submit" class="btn btn-primary btn-login btn-block">Change Password</button>
          </div>
        </div>
        {% else %}
          <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}