{% extends 'base.html' %}
{% block body %}
<div class="d-flex justify-content-between">
  <h1>Contact List</h1>
  <h2><a href=""><i class="fas fa-download pr-4"></i></a></h2>
</div>
<div class="card mt-5">
  <table class="table" data-sorting="true">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Tags</th>
        <th scope="col">Contact Preference</th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contact_list %}
      <tr>
        <th scope="row"><a href="{{ contact.get_absolute_url }}">{{ contact.first_name }} {{ contact.last_name }}</a></th>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.tags.all|join:", " }}</td>
        <td>{{ contact.get_preferred_method_display }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}