{% extends 'base.html' %}
{% block style %}
  .InboundMsg {
    color: #e22e00;
  }
{% endblock %}
{% block body %}
<!-- <h1>Contact Details</h1> -->
<div class="card p-4">
  <h1>{{ contact.get_full_name }}</h1>
  <div class="mt-1 mb-3 d-flex justify-content-between" style="max-width:250px;">
    <a href="{% url 'contact-update' pk=contact.id %}" class="btn btn-outline-secondary">Edit</a>
    <a href="" class="btn btn-outline-success">Export</a>
    <a href="{% url 'contact-delete' pk=contact.id %}" class="btn btn-outline-danger">Delete</a>
  </div>
  <p><strong>Email: </strong>{{ contact.email }}</p>
  <p><strong>Phone: </strong>{{ contact.phone }}</p>
  <p><strong>Address: </strong>{{ contact.get_address }}</p>
  <p><strong>Tags: </strong>{{ contact.tags.all|join:", " }}</p>
  <p><strong>Has WhatsApp: </strong>{{ contact.has_whatsapp }}</p>
  <p><strong>Preferred Communication Method: </strong>{{ contact.get_preferred_method_display }}</p>
  <h2 class="py-3">Message History</h2>
  {% for message in message_list %}
    <p class="{{ message.model_type }}Msg"><strong>{{ message.timestamp }} ({{ message.model_type }}): </strong>{{ message.msg_text }}</p>
  {% endfor %}
  {% include 'addins/notes.html' %}
  <h3>Send Message</h3>
  <form action="" method="POST" style="max-width: 600px;">
    {% csrf_token %}
    <textarea name="body" class="textarea form-control my-2"></textarea>
    <input type="submit" value="Send" class="btn btn-primary mt-2">
  </form>
  
</div>
{% endblock %}