{% extends 'base.html' %}
{% block body %}
<div class="d-flex justify-content-between">
  <h1>Response List</h1>
  <h2><a href="{% url 'response-export' %}"><i class="fas fa-download pr-4"></i></a></h2>
</div>
<div class="card mt-5 table-responsive">
  <table class="table" data-sorting="true">
    <thead>
      <tr>
        <th scope="col">Text</th>
        <th scope="col">Contact</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date Received</th>
      </tr>
    </thead>
    <tbody>
      {% for response in response_list %}
      <tr>
        <th scope="row">{% if response.body %}<a href="{{ response.contact.get_absolute_url }}">{{ response.body }}</a>{% elif response.recording %}<a href="{{ response.recording }}">Voice Message</a>{% endif %}</th>
        <td><a href="{{ response.contact.get_absolute_url }}">{{ response.contact }}</a></td>
        <td><a href="{{ response.contact.get_absolute_url }}">{{ response.phone }}</a></td>
        <td>{{ response.timestamp }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'addins/paginator.html' %}
{% endblock %}