{% extends 'base.html' %}
{% block body %}
<h1>Tag</h1>
<div class="card p-4">
  <h2>{{ tag.name }}</h2>
  <p><a href="{% url 'tag-update' pk=tag.id %}">Edit</a></p>
  <h3>Tagged Contacts</h3>
  <div class="card">
  <table class="table" data-sorting="true">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Tags</th>
        <th scope="col">Contact Preference</th>
      </tr>
    </thead>
    <tbody>
      {% for contact in tag.contact_set.all %}
      <tr>
        <th scope="row"><a href="{{ contact.get_absolute_url }}">{{ contact.first_name }} {{ contact.last_name }}</a></th>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.tags.all|join:", " }}</td>
        <td>{{ contact.get_preferred_method_display }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
 
</div>
{% endblock %}