{% extends 'base.html' %}
{% block body %}
<div class="d-flex justify-content-between">
  <h1>Tag List</h1>
  <h2><a href=""><i class="fas fa-download pr-4"></i></a></h2>
</div>
<div class="card mt-5 table-responsive">
  <table class="table" data-sorting="true">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Contacts</th>
        <th scope="col">Active</th>
      </tr>
    </thead>
    <tbody>
      {% for tag in tag_list %}
      <tr>
        <th scope="row"><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></th>
        <td>{{ tag.contact_set.count }}</td>
        <td>{{ tag.is_active }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}