{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<div class="Hero" style="height:600px;width:100vw;background:black;overflow:hidden;background:#BA2525;background:-webkit-linear-gradient(rgba(29, 38, 113, 0.9), rgba(195, 55, 100, 0.8)),url('https://saraabi-assets.s3.amazonaws.com/aroc_dabke.jpg');background: linear-gradient(rgba(29, 38, 113, 0.9), rgba(186, 37, 37, 0.8)), url('https://saraabi-assets.s3.amazonaws.com/water_is_life_sm.jpg');background-attachment:fixed;background-repeat:no-repeat;background-size:cover;"> 
  <section style="height:100%" class='hero-header-text'>
    <div style="height:93%;display:flex;justify-content:center;align-items:center;flex-direction:column">
    <h1 style="font-size: 90px;font-family:'Montserrat';font-weight:100;" class="text-white text-center">ASFOUR</h1>
    <h2 style="font-family:'Montserrat';font-weight:120;" class="text-white text-center pb-5">Communicate with anyone, anywhere</h2>
    <a href="{% url 'message-list' %}" class="text-white"><button class="btn btn-outline-light btn-lg">Send Message</button></a>
    </div>
    <p class="pt-auto ml-auto w-25"><a href="https://www.facebook.com/movementphotographer/" class="text-white">Photo Credit: Brooke Anderson</a></p>
  </section>
</div>
{% endblock %}
{% block main %}
<!-- <div style="background-color:#27241D" class="w-100"> -->
<div class="w-100 bg-dark pb-5">
  <div class="w-75 mx-auto py-5">
    <h3 style="font-family:'Montserrat';font-size:2.5rem;font-weight:200;" class="pb-5 text-white text-center">Manage Your Messages</h3>
    <div class="d-flex flex-column flex-lg-row justify-content-between">
      <div class="mb-4">
        <div style="border-radius:.75rem;" class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="Icons">
                <a class="text-dark" href="{% url 'contact-list' %}"><i class="fas fa-address-book fa-3x pr-4"></i></a>
              </div>
              <div>
                <h5 class="card-title"><a class="text-dark" href="{% url 'contact-list' %}">Contacts</a></h5>
                <p class="card-text"><a class="text-dark" href="{% url 'contact-list' %}">You have {{ contact_list.count|default:"no" }} contacts</a></p>
              </div>
            </div>
          </div>
          <div style="border-radius:0 0 .75rem .75rem;" class="card-footer">
            <a href="{% url 'contact-create' %}" class="d-block text-dark text-center mb-0">Add Contact<i class="fas fa-angle-right pl-1"></i></a>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div style="border-radius:.75rem;" class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="Icons">
                <a class="text-dark" href="{% url 'message-list' %}"><i class="fas fa-comments fa-3x pr-4"></i></a>
              </div>
              <div>
                <h5 class="card-title"><a class="text-dark" href="{% url 'message-list' %}">Messages</a></h5>
                <p class="card-text"><a class="text-dark" href="{% url 'message-list' %}">You have {{ message_list.count|default:"no" }} message templates</a></p>
              </div>
            </div>
          </div>
          <div style="border-radius:0 0 .75em .75rem;" class="card-footer">
            <a href="{% url 'message-create' %}" class="d-block text-dark text-center mb-0">Create Message<i class="fas fa-angle-right pl-1"></i></a>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div style="border-radius:.75rem;" class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="Icons">
                <a class="text-dark" href="{% url 'response-list' %}"><i class="fas fa-reply-all fa-3x pr-4"></i></a>
              </div>
              <div>
                <h5 class="card-title"><a class="text-dark" href="{% url 'response-list' %}">Responses</a></h5>
                <p class="card-text"><a class="text-dark" href="{% url 'response-list' %}">You have {{ response_list.count|default:"no" }} responses<a></p>
              </div>
            </div>
          </div>
          <div style="border-radius:0 0 .75rem .75rem;" class="card-footer">
            <a href="{% url 'response-list' %}" class="d-block text-dark text-center mb-0">View Responses<i class="fas fa-angle-right pl-1"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-light w-100">
  <h3 style="font-family:'Montserrat';font-size:2.5rem;font-weight:200;" class="pb-5 text-dark text-center">Sign Up To Request Access</h3>
  <form style="max-width:500px;" class="px-3 mx-auto" method="POST">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name" class="form-control mb-4">
    <input type="email" name="email" placeholder="Email" class="form-control mb-4">
    <input type="hidden" name="recaptcha" id="id_recaptcha">
    <textarea name="body" placeholder="What do you plan to use it for?" class="form-control mb-4"></textarea>
    <input type="submit" value="Submit" class="btn btn-danger px-4">
  </form>
</div>
 <script src="https://www.google.com/recaptcha/api.js?render={{ captcha_key }}"></script>
  <script>
    grecaptcha.ready(function() {
      $('form').submit(function(e){
        var form = this;
        e.preventDefault()
        grecaptcha.execute('{{ captcha_key }}', {action: 'signupform'}).then(function(token) {
          $('form').find('#id_recaptcha').val(token);
          form.submit();
        });
      });
    });
  </script>
{% endblock %}